Test/pipeline/CopyNewFilesByLastModifiedDate.json
{
	"name": "CopyNewFilesByLastModifiedDate",
	"properties": {
		"description": "Copy new and changed files only by using LastModifiedDate",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select SID, LandinPath, FileName, ISActive, LoadType, sourcename, OutputPath, Empty from sourceinfo"
					},
					"dataset": {
						"referenceName": "ASQL_EMP_DB_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_DXC_NO_HEADER_DS",
						"type": "DatasetReference",
						"parameters": {
							"File_Path": {
								"value": "Dummy",
								"type": "Expression"
							},
							"File_Name": {
								"value": "dummy_file",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"lastModified"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Copy Data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Data1",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureDataLakeStoreSource",
									"recursive": true
								},
								"sink": {
									"type": "AzureDataLakeStoreSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureDataLakeStoreDataSourceStore1",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@item().LandinPath",
											"type": "Expression"
										},
										"LastModified_From": {
											"value": "@activity('Get Metadata1').output.lastModified",
											"type": "Expression"
										},
										"LastModified_To": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDataLakeStoreDataDestinationStore1",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@item().OutputPath",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy Data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureDataLakeStoreSource",
						"recursive": true
					},
					"sink": {
						"type": "AzureDataLakeStoreSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ADLS_DXC_NO_HEADER_DS",
						"type": "DatasetReference",
						"parameters": {
							"File_Path": {
								"value": "Dummy",
								"type": "Expression"
							},
							"File_Name": {
								"value": "dummy_file",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_DXC_NO_HEADER_DS",
						"type": "DatasetReference",
						"parameters": {
							"File_Path": {
								"value": "Dummy",
								"type": "Expression"
							},
							"File_Name": {
								"value": "dummy_file",
								"type": "Expression"
							}
						}
					}
				]
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}