Test/pipeline/File_Check.json
{
	"name": "File_Check",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.Exists",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"dataset": {
									"referenceName": "ADLS_DXC_NO_HEADER_DS",
									"type": "DatasetReference",
									"parameters": {
										"File_Path": {
											"value": "Dummy",
											"type": "Expression"
										},
										"File_Name": {
											"value": "ACK",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								]
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					],
					"timeout": "00.00:5:00"
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyNewFilesByLastModifiedDate_New",
						"type": "PipelineReference"
					}
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}