Test/pipeline/Move_Files_Based_On_File_Last_Modified_2.json
{
	"name": "Move_Files_Based_On_File_Last_Modified_2",
	"properties": {
		"activities": [
			{
				"name": "ForEachFIleSource",
				"type": "ForEach",
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Org_FileName",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetSourceFileModifyedDateTime",
							"type": "GetMetadata",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"dataset": {
									"referenceName": "ADLS_DXC_NO_HEADER_DS",
									"type": "DatasetReference",
									"parameters": {
										"File_Path": {
											"value": "@pipeline().parameters.LandinPath",
											"type": "Expression"
										},
										"File_Name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								]
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetSourceFileModifyedDateTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('GetSourceFileModifyedDateTime').output.lastModified, pipeline().parameters.LastLoadDateTime)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy Data1",
										"type": "Copy",
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"source": {
												"type": "AzureDataLakeStoreSource",
												"recursive": true
											},
											"sink": {
												"type": "AzureDataLakeStoreSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ADLS_DXC_NO_HEADER_DS",
												"type": "DatasetReference",
												"parameters": {
													"File_Path": {
														"value": "@pipeline().parameters.LandinPath",
														"type": "Expression"
													},
													"File_Name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ADLS_DXC_NO_HEADER_DS",
												"type": "DatasetReference",
												"parameters": {
													"File_Path": {
														"value": "@pipeline().parameters.OutputPath",
														"type": "Expression"
													},
													"File_Name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"LandinPath": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			},
			"SourceName": {
				"type": "String"
			},
			"Empty": {
				"type": "String"
			},
			"Org_FileName": {
				"type": "String"
			},
			"OutputPath": {
				"type": "String"
			},
			"LastLoadDateTime": {
				"type": "String"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}