Test/pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline5",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"FileName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_DXC_NO_HEADER_ALL_FILES_DS",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "Source/File_Wathch",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			}
		]
	}
}