Test/pipeline/SAP_POC.json
{
	"name": "SAP_POC",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_DXC_NO_HEADER_ALL_FILES_DS",
						"type": "DatasetReference",
						"parameters": {
							"Path": "Source/Dept"
						}
					},
					"fieldList": [
						"childItems",
						"lastModified"
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "Select MAX(STIME) as STIME from test_time"
					},
					"dataset": {
						"referenceName": "ASQL_DXC_DS",
						"type": "DatasetReference",
						"parameters": {
							"Table_Name": {
								"value": "test_time",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Copy Data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureDataLakeStoreSource",
						"recursive": true
					},
					"sink": {
						"type": "AzureDataLakeStoreSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FILES_UPDATED_BETWEEN_FROM_TO",
						"type": "DatasetReference",
						"parameters": {
							"File_Path": {
								"value": "Source/Dept",
								"type": "Expression"
							},
							"From_Time": {
								"value": "@activity('Lookup1').output.firstRow.STIME",
								"type": "Expression"
							},
							"To_Time": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_DXC_NO_HEADER_ALL_FILES_DS",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "Output/Dept/Test",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_Stime]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ASQL_DXC_CONN",
					"type": "LinkedServiceReference"
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}