pipeline/FileShareToLZ.json
{
	"name": "FileShareToLZ",
	"properties": {
		"activities": [
			{
				"name": "GetCurrentDateTime",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "V_CurrentDateTime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[SAP_Update_LZ_RunTime]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@adddays(utcnow(), -5)",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_DXC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetLastModifiedDateTime",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(LZRunTime) LastModifiedDateTime from SAP_LZ_Runtime"
					},
					"dataset": {
						"referenceName": "DS_ZSQL_DXC",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetFileShareFiles",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "GetLastModifiedDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetCurrentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileShare",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "SAP",
								"type": "Expression"
							},
							"FromDateTime": {
								"value": "@activity('GetLastModifiedDateTime').output.firstRow.LastModifiedDateTime",
								"type": "Expression"
							},
							"ToDateTime": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "Copy Data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetFileShareFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "FileSystemSource",
						"recursive": true
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSetting"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSetting",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_FileShare",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "SAP",
								"type": "Expression"
							},
							"FromDateTime": {
								"value": "@activity('GetLastModifiedDateTime').output.firstRow.LastModifiedDateTime",
								"type": "Expression"
							},
							"ToDateTime": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"V_CurrentDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SAP"
		}
	}
}