pipeline/Load_Multiple_Tables_To_ADLS.json
{
	"name": "Load_Multiple_Tables_To_ADLS",
	"properties": {
		"activities": [
			{
				"name": "Get_All_Files_From_Source_Table",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_NAME, LAST_UPDATED_COLUMN FROM  RD.SOURCE_TABLE_INFO WHERE IS_ACTIVE = 1"
					},
					"dataset": {
						"referenceName": "DS_SQL_DXC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate_For_Each_Source_Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_All_Files_From_Source_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_All_Files_From_Source_Table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get_Min_Max_Dates",
							"type": "Lookup",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select  MIN(@{item().LAST_UPDATED_COLUMN}) MIN_DATE, MAX(@{item().LAST_UPDATED_COLUMN})  MAX_DATE from @{item().TABLE_NAME}",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "DS_SQL_DXC",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Get_Table_Name_From_Updates",
							"type": "Lookup",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select Count(TABLE_NAME) TABLE_NAME from RD.LAST_UPDATES_INFO  WHERE  TABLE_NAME = '@{item().TABLE_NAME}' ",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "DS_SQL_DXC",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Check_For_File_In_Update",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_Table_Name_From_Updates",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Get_Min_Max_Dates",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Get_Table_Name_From_Updates').output.firstRow.TABLE_NAME , 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Insert_New_Tabels",
										"type": "SqlServerStoredProcedure",
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"storedProcedureName": "[rd].[SP_INS_LAST_UPDATES_INFO]",
											"storedProcedureParameters": {
												"AUDIT_DTTM": {
													"value": {
														"value": "@activity('Get_Min_Max_Dates').output.firstRow.MIN_DATE",
														"type": "Expression"
													},
													"type": "String"
												},
												"TABLE_NAME": {
													"value": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_ASQL_DXC",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Get_Count_Between_Min_Max",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Get_Last_Modified_Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT COUNT(*) RCOUNT FROM @{item().TABLE_NAME} WHERE \n\n@{item().LAST_UPDATED_COLUMN} > '@{activity('Get_Last_Modified_Date').output.firstRow.AUDIT_DTTM}' AND @{item().LAST_UPDATED_COLUMN}  <= '@{activity('Get_Min_Max_Dates').output.firstRow.MAX_DATE}'",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "DS_SQL_DXC",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Check_For_New_Records",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_Count_Between_Min_Max",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get_Count_Between_Min_Max').output.firstRow.RCOUNT, 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Move_Records",
										"type": "Copy",
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().TABLE_NAME} WHERE \n@{item().LAST_UPDATED_COLUMN} > '@{activity('Get_Last_Modified_Date').output.firstRow.AUDIT_DTTM}' AND @{item().LAST_UPDATED_COLUMN}  <= '@{activity('Get_Min_Max_Dates').output.firstRow.MAX_DATE}'",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureDataLakeStoreWriteSetting"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSetting",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_DXC",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS_File_Name",
												"type": "DatasetReference",
												"parameters": {
													"File_Name": {
														"value": "@concat(item().TABLE_NAME, '_', addhours(utcnow(), -1, 'dd'), '_' , addhours(utcnow(), -1, 'MM'), '_' , addhours(utcnow(), -1, 'yyyy'), '_', addhours(utcnow(), -1, 'HH'), '_' , addhours(utcnow(), -1, 'mm'), '_' , addhours(utcnow(), -1, 'ss') )",
														"type": "Expression"
													},
													"File_Path": {
														"value": "@concat('Tables_Date', '\\', item().TABLE_NAME)",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Update_Last_Modify_Date",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Move_Records",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"storedProcedureName": "[rd].[SP_LAST_UPDATES_INFO]",
											"storedProcedureParameters": {
												"AUDIT_DTTM": {
													"value": {
														"value": "@{activity('Get_Min_Max_Dates').output.firstRow.MAX_DATE}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"TABLE_NAME": {
													"value": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_ASQL_DXC",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Get_Last_Modified_Date",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Check_For_File_In_Update",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT AUDIT_DTTM FROM RD.LAST_UPDATES_INFO WHERE TABLE_NAME = '@{item().TABLE_NAME}'",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "DS_SQL_DXC",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "R&D"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}