pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "dof_act_until_ctl_files_found",
				"type": "Until",
				"typeProperties": {
					"expression": {
						"value": "@and(equals(variables('big_data_op_flag'),'TRUE'),equals(variables('big_data_vp_flag'),'TRUE'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "dof_act_gm_getChildItems",
							"type": "GetMetadata",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLS",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "dof_act_fil_op_ctl",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "dof_act_gm_getChildItems",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"items": {
									"value": "@activity('dof_act_gm_getChildItems').output.childitems",
									"type": "Expression"
								},
								"condition": {
									"value": "@and(endswith(item().name,'.ctl'),startswith(item().name,pipeline().parameters.CNTRL_FILE_OP_NM))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "dof_act_fil_vp_ctl",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "dof_act_gm_getChildItems",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"items": {
									"value": "@activity('dof_act_gm_getChildItems').output.childitems",
									"type": "Expression"
								},
								"condition": {
									"value": "@and(endswith(item().name,'.ctl'),startswith(item().name,pipeline().parameters.CNTRL_FILE_VP_NM))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "dof_act_if_set_big_data_op_flag",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "dof_act_fil_op_ctl",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('dof_act_fil_op_ctl').output.FilteredItemsCount,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "dof_act_set_op_flag",
										"type": "SetVariable",
										"typeProperties": {
											"variableName": "big_data_op_flag",
											"value": {
												"value": "TRUE",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "dof_act_if_set_big_data_vp_flag",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "dof_act_fil_vp_ctl",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('dof_act_fil_vp_ctl').output.FilteredItemsCount,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "dof_act_set_vp_flag",
										"type": "SetVariable",
										"typeProperties": {
											"variableName": "big_data_vp_flag",
											"value": {
												"value": "TRUE",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.00:0:30"
				}
			},
			{
				"name": "dof_act_if_flags_check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "dof_act_until_ctl_files_found",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(variables('big_data_op_flag'),'TRUE'),equals(variables('big_data_vp_flag'),'TRUE'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "dof_act_wait_30_sec",
							"type": "Wait",
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						},
						{
							"name": "Trigger File missing Mail",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "dof_act_wait_30_sec",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"parameters": {
									"SRC_NM": {
										"value": "@pipeline().parameters.SRC_NM",
										"type": "Expression"
									},
									"PIPE_LN_NM": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"EMAIL_TO_LIST": {
										"value": "@pipeline().parameters.EMAIL_TO_LIST",
										"type": "Expression"
									},
									"SUBJECT": {
										"value": "Control file missing",
										"type": "Expression"
									},
									"DATA_FCTY_NM": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"MSG": {
										"value": "ISP control file is missing in the source folder",
										"type": "Expression"
									},
									"CASE": {
										"value": "FW_FILE_MISSING",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "dof_pl_abc_cyc_init",
							"type": "ExecutePipeline",
							"typeProperties": {
								"waitOnCompletion": true,
								"parameters": {
									"CYC_SK": {
										"value": "@pipeline().parameters.CYC_SK",
										"type": "Expression"
									},
									"FORCE_IND": {
										"value": "@pipeline().parameters.CYC_FORCE_IND",
										"type": "Expression"
									},
									"ABC_SCHEM": {
										"value": "@pipeline().parameters.ABC_SCHEM",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "dof_act_ep_step_isp_files_lz_dz",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "dof_pl_abc_cyc_init",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"waitOnCompletion": true,
								"parameters": {
									"STEP_SK_LND": {
										"value": "@{pipeline().parameters.STEP_SK_LND}",
										"type": "Expression"
									},
									"STEP_FORCE_IND_LND": {
										"value": "@pipeline().parameters.STEP_FORCE_IND_LND",
										"type": "Expression"
									},
									"ABC_SCHEM": {
										"value": "@{pipeline().parameters.ABC_SCHEM}",
										"type": "Expression"
									},
									"STEP_SK_DLK": {
										"value": "@pipeline().parameters.STEP_SK_DLK",
										"type": "Expression"
									},
									"STEP_FORCE_IND_DLK": {
										"value": "@pipeline().parameters.STEP_FORCE_IND_DLK",
										"type": "Expression"
									},
									"EMAIL_TO_LIST": {
										"value": "@pipeline().parameters.EMAIL_TO_LIST",
										"type": "Expression"
									},
									"CASE": {
										"value": "@pipeline().parameters.CASE",
										"type": "Expression"
									},
									"SRC_NM": {
										"value": "@pipeline().parameters.SRC_NM",
										"type": "Expression"
									},
									"SUBJECT_SUCCESS": {
										"value": "@pipeline().parameters.SUBJECT_SUCCESS",
										"type": "Expression"
									},
									"SUBJECT_FAILURE": {
										"value": "@pipeline().parameters.SUBJECT_FAILURE",
										"type": "Expression"
									},
									"MSG_SUCCESS": {
										"value": "@pipeline().parameters.MSG_SUCCESS",
										"type": "Expression"
									},
									"MSG_FAILURE": {
										"value": "@pipeline().parameters.MSG_FAILURE",
										"type": "Expression"
									},
									"CYC_SK": {
										"value": "@pipeline().parameters.CYC_SK",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"STEP_SK_LND": {
				"type": "Int",
				"defaultValue": 73010
			},
			"STEP_FORCE_IND_LND": {
				"type": "String",
				"defaultValue": "N"
			},
			"ABC_SCHEM": {
				"type": "String",
				"defaultValue": "ABC_DEV"
			},
			"CYC_SK": {
				"type": "String",
				"defaultValue": "730"
			},
			"CYC_FORCE_IND": {
				"type": "String",
				"defaultValue": "N"
			},
			"EMAIL_TO_LIST": {
				"type": "String",
				"defaultValue": "thangaraj.shanmugam@dxc.com"
			},
			"CASE": {
				"type": "String",
				"defaultValue": "SCHED_SUCCESS_FAILURE"
			},
			"SRC_NM": {
				"type": "String",
				"defaultValue": "ISP"
			},
			"STEP_SK_DLK": {
				"type": "String",
				"defaultValue": "73020"
			},
			"CNTRL_FILE_FOLDER": {
				"type": "string",
				"defaultValue": "/sisldp/msanalytics/ISP/test"
			},
			"CNTRL_FILE_OP_NM": {
				"type": "string",
				"defaultValue": "big_data_op"
			},
			"CNTRL_FILE_VP_NM": {
				"type": "string",
				"defaultValue": "big_data_vp"
			},
			"STEP_FORCE_IND_DLK": {
				"type": "string",
				"defaultValue": "N"
			},
			"SUBJECT_SUCCESS": {
				"type": "string",
				"defaultValue": "S"
			},
			"SUBJECT_FAILURE": {
				"type": "string",
				"defaultValue": "F"
			},
			"MSG_SUCCESS": {
				"type": "string",
				"defaultValue": "S"
			},
			"MSG_FAILURE": {
				"type": "string",
				"defaultValue": "F"
			}
		},
		"variables": {
			"big_data_op_flag": {
				"type": "String",
				"defaultValue": "FALSE"
			},
			"big_data_vp_flag": {
				"type": "String",
				"defaultValue": "FALSE"
			}
		},
		"folder": {
			"name": "FIle Watcher"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}