pipeline/pipeline7.json
{
	"name": "pipeline7",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileShare",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "@pipeline().parameters.FIle_Path",
								"type": "Expression"
							},
							"FromDateTime": {
								"value": "@pipeline().parameters.From_Date",
								"type": "Expression"
							},
							"ToDateTime": {
								"value": "@pipeline().parameters.To_Date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(equals(item().name, concat('SAP_L22_ZPInfo_',pipeline().parameters.ACK_File_Date, '.csv.zip')), \nequals(item().name, concat('SAP_L22_ZPInfo_meldekz_',pipeline().parameters.ACK_File_Date, '.csv.zip')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureDataLakeStoreWriteSetting"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSetting",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_FileShare_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@pipeline().parameters.File_Path",
											"type": "Expression"
										},
										"FromDateTime": {
											"value": "@pipeline().parameters.From_Date",
											"type": "Expression"
										},
										"ToDateTime": {
											"value": "@pipeline().parameters.To_Date",
											"type": "Expression"
										},
										"FileNames": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@concat('Daimler/SAP/SAP-L22/', replace(pipeline().parameters.ACK_File_Date, '-', '/'),'/')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"From_Date": {
				"type": "string"
			},
			"To_Date": {
				"type": "string"
			},
			"ACK_File_Date": {
				"type": "string"
			},
			"FIle_Path": {
				"type": "string"
			}
		},
		"annotations": []
	}
}