pipeline/pipeline8.json
{
	"name": "pipeline8",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FS_emp_train",
						"type": "DatasetReference",
						"parameters": {
							"File_Path": {
								"value": "Example",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(endswith(item().name, '.csv'), \nequals(substring(item().name, 1, 10), pipeline().parameters.ACK_DATE))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.values",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SetVariable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_Test_Dte",
								"value": {
									"value": "@substring(item().name, 1, 10)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ACK_DATE": {
				"type": "string"
			},
			" ACK_Date_Part": {
				"type": "string"
			}
		},
		"variables": {
			"V_Test_Dte": {
				"type": "String"
			}
		},
		"annotations": []
	}
}