pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileShare",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "SAP",
								"type": "Expression"
							},
							"FromDateTime": {
								"value": "@adddays(utcnow(), -20)",
								"type": "Expression"
							},
							"ToDateTime": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Variable1",
							"type": "SetVariable",
							"typeProperties": {
								"variableName": "V_PlantNo",
								"value": {
									"value": "@split(item().name, '_')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetVariable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "V_PlantNo_1",
								"value": {
									"value": "@if(startswith(variables('V_PlantNo')[1], 'MOV') , \nconcat(substring(variables('V_PlantNo')[1], 0 , 3), '_', variables('V_PlantNo')[2]) , \nconcat(variables('V_PlantNo')[1], '_', variables('V_PlantNo')[3]))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"V_PlantNo": {
				"type": "Array"
			},
			"V_PlantNo_1": {
				"type": "String"
			}
		}
	}
}