pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileShare",
						"type": "DatasetReference",
						"parameters": {
							"Path": "GetDatesFromFolder",
							"FromDateTime": {
								"value": "@adddays(utcnow(), -1)",
								"type": "Expression"
							},
							"ToDateTime": {
								"value": "@adddays(utcnow(), 1)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Variable1",
							"type": "SetVariable",
							"typeProperties": {
								"variableName": "V_GetDate",
								"value": {
									"value": "@substring(item().name, sub(length(item().name), 15), 8)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"V_GetDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PT R&D"
		}
	}
}