pipeline/SAP-L22_PL_1.json
{
	"name": "SAP-L22_PL_1",
	"properties": {
		"activities": [
			{
				"name": "Check_For_ACK_File",
				"type": "Until",
				"typeProperties": {
					"expression": {
						"value": "@activity('Get_ACK_File_Name').output.Exists",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get_ACK_File_Name",
							"type": "GetMetadata",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_File_Share_File_Name",
									"type": "DatasetReference",
									"parameters": {
										"File_Name": {
											"value": "@pipeline().parameters.File_Name",
											"type": "Expression"
										},
										"File_Path": {
											"value": "@pipeline().parameters.File_Path",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "FileServerReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							}
						},
						{
							"name": "No_Files_Wait",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Get_ACK_File_Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"timeout": "00.00:01:00"
				}
			},
			{
				"name": "IfCondition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check_For_ACK_File",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get_ACK_File_Name').output.Exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "No_ACK_File",
							"type": "Wait",
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Get_Current_TimeStamp",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Check_For_ACK_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "V_CurrentDateTime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get_Last_Processed_TimeStamp",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Check_For_ACK_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select LZRunTime LastModifiedDateTime from SAP_LZ_Runtime"
					},
					"dataset": {
						"referenceName": "DS_SQL_DXC",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get_Source_File_Names",
				"description": "",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Get_Current_TimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get_Last_Processed_TimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileShare",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "@pipeline().parameters.File_Path",
								"type": "Expression"
							},
							"FromDateTime": {
								"value": "@activity('Get_Last_Processed_TimeStamp').output.firstRow.LastModifiedDateTime",
								"type": "Expression"
							},
							"ToDateTime": {
								"value": "@variables('V_CurrentDateTime')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "Iterate_For_Each_FIle",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Source_File_Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Source_File_Names').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check_For_File_Names",
							"type": "IfCondition",
							"typeProperties": {
								"expression": {
									"value": "@or(\nequals(\nitem().name, \nconcat('SAP_L22_ZPInfo_', addhours(utcnow(), -0, 'yyyy') , '-' , addhours(utcnow(), -0, 'MM'), '.csv.gz')), \nequals(\nitem().name, \nconcat('SAP_L22_ZPInfo_', addhours(utcnow(), -0, 'yyyy') , '-' ,adddays(utcnow(),  mul(int(addhours(utcnow(), -0, 'dd')),-1), 'MM'), '.csv.gz'))\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute_PL_SAP-L22_PL_2",
										"type": "ExecutePipeline",
										"typeProperties": {
											"pipeline": {
												"referenceName": "SAP_FS_LZ_PL_FINAL2",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"FromDateTime": {
													"value": "@activity('Get_Last_Processed_TimeStamp').output.LastModifiedDateTime",
													"type": "Expression"
												},
												"ToDateTime": {
													"value": "@variables('V_CurrentDateTime')",
													"type": "Expression"
												},
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"FilePath": {
													"value": "@pipeline().parameters.File_Path",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Store_Current_TimeStamp",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Iterate_For_Each_FIle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[SAP_Update_LZ_RunTime]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@variables('V_CurrentDateTime')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_DXC",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"File_Name": {
				"type": "string",
				"defaultValue": "SAP_L22_ZPInfo_2019-06.ack"
			},
			"File_Path": {
				"type": "string",
				"defaultValue": "Source/SAP-L22"
			}
		},
		"variables": {
			"V_CurrentDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SAP-L22"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}