pipeline/SAP_FS_LZ_PL2.json
{
	"name": "SAP_FS_LZ_PL2",
	"properties": {
		"activities": [
			{
				"name": "ForEachFile",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select FILENAME, FILEPATH from SAP_FIles where FILENAME = substring( '@{pipeline().parameters.FILENAME}', 1, len(FILENAME))",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "DS_ZSQL_DXC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFilePath",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEachFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('ForEachFile').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyFilesFromFStoLZ",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureDataLakeStoreWriteSetting"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSetting",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_FileShare_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "SAP",
											"type": "Expression"
										},
										"FromDateTime": {
											"value": "@pipeline().parameters.FromDateTime",
											"type": "Expression"
										},
										"ToDateTime": {
											"value": "@pipeline().parameters.ToDateTime",
											"type": "Expression"
										},
										"FileNames": {
											"value": "@pipeline().parameters.FILENAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@concat('Daimler/SAP/Landing/', item().FILEPATH)",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.FILENAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FILENAME": {
				"type": "string"
			},
			"FromDateTime": {
				"type": "string"
			},
			"ToDateTime": {
				"type": "string"
			}
		},
		"folder": {
			"name": "SAP"
		}
	}
}