pipeline/SAP_FS_LZ_PL.json
{
	"name": "SAP_FS_LZ_PL",
	"properties": {
		"activities": [
			{
				"name": "GetCurrentDateTime",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "V_CurrentDateTime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetCurrentDateTime",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "EachFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[SAP_Update_LZ_RunTime]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@variables('V_CurrentDateTime')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_DXC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetLastProcessedDateTime",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select LZRunTime-16 LastModifiedDateTime from SAP_LZ_Runtime"
					},
					"dataset": {
						"referenceName": "DS_SQL_DXC",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetSAPFiles",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "GetLastProcessedDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetCurrentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileShare",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "SAP",
								"type": "Expression"
							},
							"FromDateTime": {
								"value": "@activity('GetLastProcessedDateTime').output.firstRow.LastModifiedDateTime",
								"type": "Expression"
							},
							"ToDateTime": {
								"value": "@variables('V_CurrentDateTime')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "EachFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSAPFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSAPFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetVariable1",
							"type": "SetVariable",
							"typeProperties": {
								"variableName": "V_PlantNo",
								"value": {
									"value": "@if(startswith(split(item().name, '_')[1], 'MOV') , \nconcat(substring(split(item().name, '_')[1], 0 , 3), '_', split(item().name, '_')[2]) , \nconcat(split(item().name, '_')[1], '_', split(item().name, '_')[3])) ",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy Data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetVariable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureDataLakeStoreWriteSetting"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSetting",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_FileShare_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "SAP",
											"type": "Expression"
										},
										"FromDateTime": {
											"value": "@activity('GetLastProcessedDateTime').output.firstRow.LastModifiedDateTime",
											"type": "Expression"
										},
										"ToDateTime": {
											"value": "@variables('V_CurrentDateTime')",
											"type": "Expression"
										},
										"FileNames": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_FileName",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@concat('Daimler/SAP/Landing/', variables('V_PlantNo'), '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"V_CurrentDateTime": {
				"type": "String"
			},
			"V_PlantNo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SAP"
		}
	}
}