pipeline/SAP_LZ_DZ_PL2.json
{
	"name": "SAP_LZ_DZ_PL2",
	"properties": {
		"activities": [
			{
				"name": "GetFileNames",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_From_To_DateTime",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": {
								"value": "@concat('Daimler/SAP/Landing/', pipeline().parameters.FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
								"type": "Expression"
							},
							"FromDateTime": {
								"value": "@pipeline().parameters.LastModifiedDateTime",
								"type": "Expression"
							},
							"ToDateTime": {
								"value": "@pipeline().parameters.CurrentDateTime",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNames').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyLZtoDZ",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureDataLakeStoreSource",
									"recursive": true
								},
								"sink": {
									"type": "AzureDataLakeStoreSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_From_To_DateTime",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@concat('Daimler/SAP/Landing/', pipeline().parameters.FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
											"type": "Expression"
										},
										"FromDateTime": {
											"value": "@pipeline().parameters.LastModifiedDateTime",
											"type": "Expression"
										},
										"ToDateTime": {
											"value": "@pipeline().parameters.CurrentDateTime",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@concat('Daimler/SAP/Target/', pipeline().parameters.FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FILEPATH": {
				"type": "string"
			},
			"CurrentDateTime": {
				"type": "string"
			},
			"LastModifiedDateTime": {
				"type": "string"
			}
		},
		"folder": {
			"name": "SAP"
		}
	}
}