pipeline/SAP_L22_Main_1.json
{
	"name": "SAP_L22_Main_1",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Get_Current_TimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get_Last_Processed_TimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "Get_Current_TimeStamp",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Get_Current_TimeStamp",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get_Last_Processed_TimeStamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select LastRunTime-100 LastModifiedDateTime from LastRunTimeStmp WHERE SourceName = 'SAP-L22' "
					},
					"dataset": {
						"referenceName": "DS_SQL_DXC",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata1').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(and(startswith(item().name, 'SAP_L22_ZPInfo_'), endswith(item().name, '.ack')), equals(length(item().name), 29))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Filter1').output.valueFilteredItemsCount, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ForEach1",
							"type": "ForEach",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Filter1').output.value",
									"type": "Expression"
								},
								"isSequential": true,
								"activities": [
									{
										"name": "ExecutePipeline1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pipeline7",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"From_Date": {
													"value": "@activity('Get_Last_Processed_TimeStamp').output.firstRow.LastModifiedDateTime",
													"type": "Expression"
												},
												"To_Date": {
													"value": "@variables('Get_Current_TimeStamp')",
													"type": "Expression"
												},
												"ACK_File_Date": {
													"value": "@substring(item().name, sub(length(item().name), 14), 10)",
													"type": "Expression"
												},
												"FIle_Path": {
													"value": "@pipeline().parameters.File_Path",
													"type": "Expression"
												},
												"ACK_File_Name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Send_Email_No_ACK_Files",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"File_Path": {
				"type": "string",
				"defaultValue": "Source\\SAP-L22"
			}
		},
		"variables": {
			"Get_Current_TimeStamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SAP-L22"
		},
		"annotations": []
	}
}