pipeline/SAP_LZ_DZ_PL1.json
{
	"name": "SAP_LZ_DZ_PL1",
	"properties": {
		"activities": [
			{
				"name": "ForEachFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFolderNames",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetCurrentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetLastModifiedDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFolderNames').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExecuteSAP_FS_DZ_PL2",
							"type": "ExecutePipeline",
							"typeProperties": {
								"pipeline": {
									"referenceName": "SAP_LZ_DZ_PL2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FILEPATH": {
										"value": "@item().FILEPATH",
										"type": "Expression"
									},
									"CurrentDateTime": {
										"value": "@variables('V_CurrentDateTime')",
										"type": "Expression"
									},
									"LastModifiedDateTime": {
										"value": "@activity('GetLastModifiedDateTime').output.firstRow.LastModifiedDateTime",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "GetFolderNames",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select FILENAME, FILEPATH from SAP_FIles "
					},
					"dataset": {
						"referenceName": "DS_SQL_DXC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetCurrentDateTime",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "V_CurrentDateTime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetCurrentDateTime",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEachFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[SAP_Update_DZ_RunTime]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@variables('V_CurrentDateTime')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_DXC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetLastModifiedDateTime",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select DZRunTime-6 LastModifiedDateTime from SAP_DZ_Runtime"
					},
					"dataset": {
						"referenceName": "DS_SQL_DXC",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"V_CurrentDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SAP"
		}
	}
}