ADFDXC1134/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ADFDXC1134"
		},
		"LS_ADLS_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'LS_ADLS'"
		},
		"LS_ASQL_ABC_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_ASQL_ABC'"
		},
		"LS_ASQL_DXC_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_ASQL_DXC'"
		},
		"LS_File_Share_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_File_Share'"
		},
		"LS_ADLS_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://adlsdxc1134.azuredatalakestore.net/webhdfs/v1"
		},
		"LS_ADLS_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "fca6896e-ee6a-4875-898a-e17f21fd7b90"
		},
		"LS_ADLS_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "93f33571-550f-43cf-b09f-cd331338d086"
		},
		"LS_ADLS_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "aa9d0e6b-d25e-4e3b-94b3-3c71c403c9e7"
		},
		"LS_ADLS_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "RGDXC1134"
		},
		"LS_File_Share_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "sjaladi3@dxc.com"
		},
		"DS_FileShare_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().Path"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('LS_ADLS_properties_typeProperties_dataLakeStoreUri')]",
					"servicePrincipalId": "[parameters('LS_ADLS_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_servicePrincipalKey')]"
					},
					"tenant": "[parameters('LS_ADLS_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('LS_ADLS_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('LS_ADLS_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL_ABC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_ASQL_ABC_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL_DXC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_ASQL_DXC_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShare')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ZSQL_DXC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_DXC",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_DXC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_File_Share')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "C:\\File_Share",
					"userId": "[parameters('LS_File_Share_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_File_Share_password')]"
					}
				},
				"connectVia": {
					"referenceName": "FileShare",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/FileShare')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FileShare')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_File_Share",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Path": {
						"type": "string"
					},
					"FromDateTime": {
						"type": "string"
					},
					"ToDateTime": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"folderPath": {
						"value": "[parameters('DS_FileShare_properties_typeProperties_folderPath')]",
						"type": "Expression"
					},
					"modifiedDatetimeStart": {
						"value": "@dataset().FromDateTime",
						"type": "Expression"
					},
					"modifiedDatetimeEnd": {
						"value": "@dataset().ToDateTime",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_File_Share')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShareToLZ')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCurrentDateTime",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_CurrentDateTime",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "GetFileShareFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[SAP_Update_LZ_RunTime]')]",
							"storedProcedureParameters": {
								"LastModifiedtime": {
									"value": {
										"value": "@adddays(utcnow(), -5)",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_DXC",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetLastModifiedDateTime",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(LZRunTime) LastModifiedDateTime from SAP_LZ_Runtime"
							},
							"dataset": {
								"referenceName": "DS_ZSQL_DXC",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "GetFileShareFiles",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "GetLastModifiedDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetCurrentDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_FileShare",
								"type": "DatasetReference",
								"parameters": {
									"Path": {
										"value": "SAP",
										"type": "Expression"
									},
									"FromDateTime": {
										"value": "@activity('GetLastModifiedDateTime').output.firstRow.LastModifiedDateTime",
										"type": "Expression"
									},
									"ToDateTime": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					}
				],
				"variables": {
					"V_CurrentDateTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_DXC')]",
				"[concat(variables('factoryId'), '/datasets/DS_ZSQL_DXC')]",
				"[concat(variables('factoryId'), '/datasets/DS_FileShare')]"
			]
		}
	]
}