ADFDXC1134/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfdxc1134"
		},
		"DS_FileShare_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().Path"
		},
		"DS_FileShare_FileName_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().FileNames"
		},
		"DS_FileShare_FileName_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().FilePath"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SAP_LZ_DZ')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS",
								"type": "DatasetReference",
								"parameters": {
									"FilePath": {
										"value": "Daimler/SAP/Landing/",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS",
								"type": "DatasetReference",
								"parameters": {
									"FilePath": "Daimler/SAP/Target/"
								}
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ADLS",
								"type": "DatasetReference",
								"parameters": {
									"FilePath": {
										"value": "Daimler/SAP/Landing",
										"type": "Expression"
									}
								}
							},
							"recursive": true,
							"enableLogging": false
						}
					}
				],
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_LZ_DZ_PL2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFileNames",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ADLS_From_To_DateTime",
								"type": "DatasetReference",
								"parameters": {
									"FilePath": {
										"value": "@concat('Daimler/SAP/Landing/', pipeline().parameters.FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
										"type": "Expression"
									},
									"FromDateTime": {
										"value": "@pipeline().parameters.LastModifiedDateTime",
										"type": "Expression"
									},
									"ToDateTime": {
										"value": "@pipeline().parameters.CurrentDateTime",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileNames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileNames').output.childitems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyLZtoDZ",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureDataLakeStoreSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureDataLakeStoreSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_From_To_DateTime",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@concat('Daimler/SAP/Landing/', pipeline().parameters.FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
													"type": "Expression"
												},
												"FromDateTime": {
													"value": "@pipeline().parameters.LastModifiedDateTime",
													"type": "Expression"
												},
												"ToDateTime": {
													"value": "@pipeline().parameters.CurrentDateTime",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@concat('Daimler/SAP/Target/', pipeline().parameters.FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"FILEPATH": {
						"type": "string"
					},
					"CurrentDateTime": {
						"type": "string"
					},
					"LastModifiedDateTime": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETERECORDS]",
							"storedProcedureParameters": {
								"COLUMN_NAME": {
									"value": {
										"value": "@pipeline().parameters.COLUMN_NAME",
										"type": "Expression"
									},
									"type": "String"
								},
								"DATE_VALUE": {
									"value": {
										"value": "@pipeline().parameters.DATE_VALUE",
										"type": "Expression"
									},
									"type": "String"
								},
								"Table_Name": {
									"value": {
										"value": "@pipeline().parameters.TABLE_NAME",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_DXC",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy Data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT  * FROM @{pipeline().parameters.TABLE_NAME} WHERE @{pipeline().parameters.COLUMN_NAME} >= '@{pipeline().parameters.DATE_VALUE}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_DXC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_File_Name",
								"type": "DatasetReference",
								"parameters": {
									"File_Name": {
										"value": "@concat('Deleted_Records_', pipeline().parameters.DATE_VALUE)",
										"type": "Expression"
									},
									"File_Path": {
										"value": "@concat(pipeline().parameters.TABLE_NAME, '_', pipeline().parameters.DATE_VALUE)",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"TABLE_NAME": {
						"type": "string",
						"defaultValue": "Date_TEST_TBD"
					},
					"DATE_VALUE": {
						"type": "string",
						"defaultValue": "2019-05-20"
					},
					"COLUMN_NAME": {
						"type": "string",
						"defaultValue": "AuditDate"
					}
				},
				"folder": {
					"name": "PT R&D"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FileShare')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_File_Share",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Path": {
						"type": "string"
					},
					"FromDateTime": {
						"type": "string"
					},
					"ToDateTime": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"folderPath": {
						"value": "[parameters('DS_FileShare_properties_typeProperties_folderPath')]",
						"type": "Expression"
					},
					"modifiedDatetimeStart": {
						"value": "@dataset().FromDateTime",
						"type": "Expression"
					},
					"modifiedDatetimeEnd": {
						"value": "@dataset().ToDateTime",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FileShare_FileName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_File_Share",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FilePath": {
						"type": "string"
					},
					"FromDateTime": {
						"type": "string"
					},
					"ToDateTime": {
						"type": "string"
					},
					"FileNames": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"fileName": {
						"value": "[parameters('DS_FileShare_FileName_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('DS_FileShare_FileName_properties_typeProperties_folderPath')]",
						"type": "Expression"
					},
					"modifiedDatetimeStart": {
						"value": "@dataset().FromDateTime",
						"type": "Expression"
					},
					"modifiedDatetimeEnd": {
						"value": "@dataset().ToDateTime",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_FS_LZ_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCurrentDateTime",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_CurrentDateTime",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetCurrentDateTime",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "EachFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SAP_Update_LZ_RunTime]",
							"storedProcedureParameters": {
								"LastModifiedtime": {
									"value": {
										"value": "@variables('V_CurrentDateTime')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_DXC",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetLastProcessedDateTime",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select LZRunTime-16 LastModifiedDateTime from SAP_LZ_Runtime"
							},
							"dataset": {
								"referenceName": "DS_SQL_DXC",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "GetSAPFiles",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "GetLastProcessedDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetCurrentDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_FileShare",
								"type": "DatasetReference",
								"parameters": {
									"Path": {
										"value": "SAP",
										"type": "Expression"
									},
									"FromDateTime": {
										"value": "@activity('GetLastProcessedDateTime').output.firstRow.LastModifiedDateTime",
										"type": "Expression"
									},
									"ToDateTime": {
										"value": "@variables('V_CurrentDateTime')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "EachFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSAPFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSAPFiles').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SetVariable1",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_PlantNo",
										"value": {
											"value": "@if(startswith(split(item().name, '_')[1], 'MOV') , \nconcat(substring(split(item().name, '_')[1], 0 , 3), '_', split(item().name, '_')[2]) , \nconcat(split(item().name, '_')[1], '_', split(item().name, '_')[3])) ",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy Data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "SetVariable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "FileSystemSource",
											"recursive": true
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureDataLakeStoreWriteSetting"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSetting",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_FileShare_FileName",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "SAP",
													"type": "Expression"
												},
												"FromDateTime": {
													"value": "@activity('GetLastProcessedDateTime').output.firstRow.LastModifiedDateTime",
													"type": "Expression"
												},
												"ToDateTime": {
													"value": "@variables('V_CurrentDateTime')",
													"type": "Expression"
												},
												"FileNames": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_FileName",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@concat('Daimler/SAP/Landing/', variables('V_PlantNo'), '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"variables": {
					"V_CurrentDateTime": {
						"type": "String"
					},
					"V_PlantNo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FileShare')]",
				"[concat(variables('factoryId'), '/datasets/DS_FileShare_FileName')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_FS_LZ_PL2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachFile",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select FILENAME, FILEPATH from SAP_FIles where FILENAME = substring( '@{pipeline().parameters.FILENAME}', 1, len(FILENAME))",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DS_SQL_DXC",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachFilePath",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ForEachFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ForEachFile').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyFilesFromFStoLZ",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "FileSystemSource",
											"recursive": true
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureDataLakeStoreWriteSetting"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSetting",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_FileShare_FileName",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "SAP",
													"type": "Expression"
												},
												"FromDateTime": {
													"value": "@pipeline().parameters.FromDateTime",
													"type": "Expression"
												},
												"ToDateTime": {
													"value": "@pipeline().parameters.ToDateTime",
													"type": "Expression"
												},
												"FileNames": {
													"value": "@pipeline().parameters.FILENAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_FileName",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@concat('Daimler/SAP/Landing/', item().FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.FILENAME",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"FILENAME": {
						"type": "string"
					},
					"FromDateTime": {
						"type": "string"
					},
					"ToDateTime": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FileShare_FileName')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_FS_LZ_PL_FINAL2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachFile",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \nTRANS_NO, \nPLANT_NO, \nFOLDER_PATH\n FROM \nSAP_FOLDER_MAPPING\nWHERE \nTRANS_NO = '@{pipeline().parameters.TRANS_NO}' AND \nPLANT_NO = '@{pipeline().parameters.PLANT_NO}'",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DS_SQL_DXC",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachFilePath",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ForEachFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ForEachFile').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyFilesFromFStoLZ",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "FileSystemSource",
											"recursive": true
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureDataLakeStoreWriteSetting"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSetting",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_FileShare_FileName",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "SAP",
													"type": "Expression"
												},
												"FromDateTime": {
													"value": "@pipeline().parameters.FromDateTime",
													"type": "Expression"
												},
												"ToDateTime": {
													"value": "@pipeline().parameters.ToDateTime",
													"type": "Expression"
												},
												"FileNames": {
													"value": "@pipeline().parameters.FILENAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_FileName",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@concat('Daimler/SAP/Landing/', item().FOLDER_PATH, '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.FILENAME",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"TRANS_NO": {
						"type": "string"
					},
					"FromDateTime": {
						"type": "string"
					},
					"ToDateTime": {
						"type": "string"
					},
					"PLANT_NO": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FileShare_FileName')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_LZ_DZ_PL1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachFolder",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFolderNames",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetCurrentDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetLastModifiedDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFolderNames').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ExecuteSAP_FS_DZ_PL2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SAP_LZ_DZ_PL2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"FILEPATH": {
												"value": "@item().FILEPATH",
												"type": "Expression"
											},
											"CurrentDateTime": {
												"value": "@variables('V_CurrentDateTime')",
												"type": "Expression"
											},
											"LastModifiedDateTime": {
												"value": "@activity('GetLastModifiedDateTime').output.firstRow.LastModifiedDateTime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "GetFolderNames",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select FILENAME, FILEPATH from SAP_FIles "
							},
							"dataset": {
								"referenceName": "DS_SQL_DXC",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "GetCurrentDateTime",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_CurrentDateTime",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetCurrentDateTime",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SAP_Update_DZ_RunTime]",
							"storedProcedureParameters": {
								"LastModifiedtime": {
									"value": {
										"value": "@variables('V_CurrentDateTime')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_DXC",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetLastModifiedDateTime",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select DZRunTime-6 LastModifiedDateTime from SAP_DZ_Runtime"
							},
							"dataset": {
								"referenceName": "DS_SQL_DXC",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"variables": {
					"V_CurrentDateTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SAP_LZ_DZ_PL2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLTOADLS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load_Multiple_Tables_To_ADLS",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2019-05-29T08:56:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							],
							"weekDays": [
								"Monday",
								"Tuesday",
								"Wednesday",
								"Thursday",
								"Friday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_FS_LZ_PL1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCurrentDateTime",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_CurrentDateTime",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetCurrentDateTime",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "EachFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SAP_Update_LZ_RunTime]",
							"storedProcedureParameters": {
								"LastModifiedtime": {
									"value": {
										"value": "@variables('V_CurrentDateTime')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_DXC",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetLastProcessedDateTime",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select LZRunTime-6 LastModifiedDateTime from SAP_LZ_Runtime"
							},
							"dataset": {
								"referenceName": "DS_SQL_DXC",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "GetSAPFiles",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "GetLastProcessedDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetCurrentDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_FileShare",
								"type": "DatasetReference",
								"parameters": {
									"Path": {
										"value": "SAP",
										"type": "Expression"
									},
									"FromDateTime": {
										"value": "@activity('GetLastProcessedDateTime').output.firstRow.LastModifiedDateTime",
										"type": "Expression"
									},
									"ToDateTime": {
										"value": "@variables('V_CurrentDateTime')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "EachFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSAPFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSAPFiles').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ExecuteSAP_FS_LZ_PL2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SAP_FS_LZ_PL2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"FILENAME": {
												"value": "@item().name",
												"type": "Expression"
											},
											"FromDateTime": {
												"value": "@activity('GetLastProcessedDateTime').output.firstRow.LastModifiedDateTime",
												"type": "Expression"
											},
											"ToDateTime": {
												"value": "@variables('V_CurrentDateTime')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"V_CurrentDateTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FileShare')]",
				"[concat(variables('factoryId'), '/pipelines/SAP_FS_LZ_PL2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_FS_LZ_PL_FINAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCurrentDateTime",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_CurrentDateTime",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetCurrentDateTime",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "EachFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SAP_Update_LZ_RunTime]",
							"storedProcedureParameters": {
								"LastModifiedtime": {
									"value": {
										"value": "@variables('V_CurrentDateTime')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_DXC",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "GetLastProcessedDateTime",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select LZRunTime-21 LastModifiedDateTime from SAP_LZ_Runtime"
							},
							"dataset": {
								"referenceName": "DS_SQL_DXC",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "GetSAPFiles",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "GetLastProcessedDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GetCurrentDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_FileShare",
								"type": "DatasetReference",
								"parameters": {
									"Path": {
										"value": "SAP",
										"type": "Expression"
									},
									"FromDateTime": {
										"value": "@activity('GetLastProcessedDateTime').output.firstRow.LastModifiedDateTime",
										"type": "Expression"
									},
									"ToDateTime": {
										"value": "@variables('V_CurrentDateTime')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "EachFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSAPFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSAPFiles').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ExecutePipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SAP_FS_LZ_PL_FINAL2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TRANS_NO": {
												"value": "@split(item().name, '_')[1] ",
												"type": "Expression"
											},
											"FromDateTime": {
												"value": "@activity('GetLastProcessedDateTime').output.firstRow.LastModifiedDateTime",
												"type": "Expression"
											},
											"ToDateTime": {
												"value": "@variables('V_CurrentDateTime')",
												"type": "Expression"
											},
											"PLANT_NO": {
												"value": "@split(item().name, '_')[3]",
												"type": "Expression"
											},
											"FileName": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"V_CurrentDateTime": {
						"type": "String"
					},
					"V_PlantNo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FileShare')]",
				"[concat(variables('factoryId'), '/pipelines/SAP_FS_LZ_PL_FINAL2')]"
			]
		}
	]
}