ADFDXC1134/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfdxc1134"
		},
		"LS_ADLS_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'LS_ADLS'"
		},
		"LS_ASQL_ABC_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_ASQL_ABC'"
		},
		"LS_ASQL_DXC_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_ASQL_DXC'"
		},
		"LS_File_Share_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_File_Share'"
		},
		"LS_ADLS_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://adlsdxc1134.azuredatalakestore.net/webhdfs/v1"
		},
		"LS_ADLS_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "fca6896e-ee6a-4875-898a-e17f21fd7b90"
		},
		"LS_ADLS_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "93f33571-550f-43cf-b09f-cd331338d086"
		},
		"LS_ADLS_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "aa9d0e6b-d25e-4e3b-94b3-3c71c403c9e7"
		},
		"LS_ADLS_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "RGDXC1134"
		},
		"LS_File_Share_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "sjaladi3@dxc.com"
		},
		"DS_ADLS_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().FilePath"
		},
		"DS_ADLS_From_To_DateTime_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().FilePath"
		},
		"DS_FileShare_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().Path"
		},
		"DS_FileShare_FileName_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().FileNames"
		},
		"DS_FileShare_FileName_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().FilePath"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FileShare')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('LS_ADLS_properties_typeProperties_dataLakeStoreUri')]",
					"servicePrincipalId": "[parameters('LS_ADLS_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_servicePrincipalKey')]"
					},
					"tenant": "[parameters('LS_ADLS_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('LS_ADLS_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('LS_ADLS_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL_ABC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_ASQL_ABC_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL_DXC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_ASQL_DXC_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cyc_Start')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cyc_Start",
						"description": "",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABC].[UPDATE_CYC_START_NEW]",
							"storedProcedureParameters": {
								"CYC_SK": {
									"value": {
										"value": "@pipeline().parameters.CYC_SK",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"FORCE_IND": {
									"value": {
										"value": "@pipeline().parameters.FORCE_IND",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_ABC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"CYC_SK": {
						"type": "Int"
					},
					"FORCE_IND": {
						"type": "String"
					},
					"ABC_SCHEM": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ABC"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_ABC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Job_Start')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Job_Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABC].[UPDATE_JOB_START_NEW]",
							"storedProcedureParameters": {
								"JOB_SK": {
									"value": {
										"value": "@pipeline().parameters.JOB_SK",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"PL_RUN_ID": {
									"value": {
										"value": "@pipeline().parameters.PL_RUN_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"STEP_SK": {
									"value": {
										"value": "@pipeline().parameters.STEP_SK",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_ABC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"JOB_SK": {
						"type": "Int"
					},
					"PL_RUN_ID": {
						"type": "String"
					},
					"STEP_SK": {
						"type": "Int"
					},
					"ABC_SCHEM": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ABC"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_ABC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cyc_Close')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cyc_Close",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABC].[UPDATE_CYC_END_NEW]",
							"storedProcedureParameters": {
								"CYC_SK": {
									"value": {
										"value": "@pipeline().parameters.CYC_SK",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_ABC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"CYC_SK": {
						"type": "Int"
					},
					"ABC_SCHEM": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ABC"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_ABC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Job_End')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Job_End",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABC].[UPDATE_JOB_END_NEW]",
							"storedProcedureParameters": {
								"DATA_READ": {
									"value": {
										"value": "@pipeline().parameters.DATA_READ",
										"type": "Expression"
									},
									"type": "String"
								},
								"DATA_WRITTEN": {
									"value": {
										"value": "@pipeline().parameters.DATA_WRITTEN",
										"type": "Expression"
									},
									"type": "String"
								},
								"ERR_MSG": {
									"value": {
										"value": "@pipeline().parameters.ERR_MSG",
										"type": "Expression"
									},
									"type": "String"
								},
								"JOB_SK": {
									"value": {
										"value": "@pipeline().parameters.JOB_SK",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ROWS_LOADED": {
									"value": {
										"value": "@pipeline().parameters.ROWS_LOADED",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ROWS_READ": {
									"value": {
										"value": "@pipeline().parameters.ROWS_READ",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"STATUS": {
									"value": {
										"value": "@pipeline().parameters.STATUS",
										"type": "Expression"
									},
									"type": "String"
								},
								"THROUGHPUT": {
									"value": {
										"value": "@coalesce(pipeline().parameters.THROUGHPUT,0)",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_ABC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"JOB_SK": {
						"type": "Int"
					},
					"STATUS": {
						"type": "String"
					},
					"DATA_READ": {
						"type": "String"
					},
					"DATA_WRITTEN": {
						"type": "String"
					},
					"ROWS_READ": {
						"type": "String"
					},
					"ROWS_LOADED": {
						"type": "String"
					},
					"ERR_MSG": {
						"type": "String"
					},
					"ABC_SCHEM": {
						"type": "String"
					},
					"THROUGHPUT": {
						"type": "Float",
						"defaultValue": 0
					}
				},
				"folder": {
					"name": "ABC"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_ABC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Step_End')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Step_End",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABC].[UPDATE_STEP_END_NEW]",
							"storedProcedureParameters": {
								"STATUS": {
									"value": {
										"value": "@pipeline().parameters.STATUS",
										"type": "Expression"
									},
									"type": "String"
								},
								"STEP_SK": {
									"value": {
										"value": "@pipeline().parameters.STEP_SK",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_ABC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"STEP_SK": {
						"type": "Int"
					},
					"STATUS": {
						"type": "String"
					},
					"ABC_SCHEM": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ABC"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_ABC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Step_Start')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Step_Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABC].[UPDATE_STEP_START_NEW]",
							"storedProcedureParameters": {
								"FORCE_IND": {
									"value": {
										"value": "@pipeline().parameters.FORCE_IND",
										"type": "Expression"
									},
									"type": "String"
								},
								"STEP_SK": {
									"value": {
										"value": "@pipeline().parameters.STEP_SK",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_ABC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"STEP_SK": {
						"type": "Int"
					},
					"FORCE_IND": {
						"type": "String"
					},
					"ABC_SCHEM": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ABC"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_ABC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_File_Share')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "C:\\File_Share",
					"userId": "[parameters('LS_File_Share_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_File_Share_password')]"
					}
				},
				"connectVia": {
					"referenceName": "FileShare",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/FileShare')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_FileName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FilePath": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FilePath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_DXC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_DXC",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_DXC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FilePath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"folderPath": {
						"value": "[parameters('DS_ADLS_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_ABC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_ABC",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_ABC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_From_To_DateTime')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FilePath": {
						"type": "string"
					},
					"FromDateTime": {
						"type": "string"
					},
					"ToDateTime": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"folderPath": {
						"value": "[parameters('DS_ADLS_From_To_DateTime_properties_typeProperties_folderPath')]",
						"type": "Expression"
					},
					"modifiedDatetimeStart": {
						"value": "@dataset().FromDateTime",
						"type": "Expression"
					},
					"modifiedDatetimeEnd": {
						"value": "@dataset().ToDateTime",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_FS_DZ_PL2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFileNames",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ADLS_From_To_DateTime",
								"type": "DatasetReference",
								"parameters": {
									"FilePath": {
										"value": "@concat('Daimler/SAP/Landing/', pipeline().parameters.FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
										"type": "Expression"
									},
									"FromDateTime": {
										"value": "@pipeline().parameters.LastModifiedDateTime",
										"type": "Expression"
									},
									"ToDateTime": {
										"value": "@pipeline().parameters.CurrentDateTime",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileNames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileNames').output.childitems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyLZtoDZ",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureDataLakeStoreSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureDataLakeStoreSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_From_To_DateTime",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@concat('Daimler/SAP/Landing/', pipeline().parameters.FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
													"type": "Expression"
												},
												"FromDateTime": {
													"value": "@pipeline().parameters.LastModifiedDateTime",
													"type": "Expression"
												},
												"ToDateTime": {
													"value": "@pipeline().parameters.CurrentDateTime",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@concat('Daimler/SAP/Target/', pipeline().parameters.FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"FILEPATH": {
						"type": "string"
					},
					"CurrentDateTime": {
						"type": "string"
					},
					"LastModifiedDateTime": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_From_To_DateTime')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FileShare')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_File_Share",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Path": {
						"type": "string"
					},
					"FromDateTime": {
						"type": "string"
					},
					"ToDateTime": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"folderPath": {
						"value": "[parameters('DS_FileShare_properties_typeProperties_folderPath')]",
						"type": "Expression"
					},
					"modifiedDatetimeStart": {
						"value": "@dataset().FromDateTime",
						"type": "Expression"
					},
					"modifiedDatetimeEnd": {
						"value": "@dataset().ToDateTime",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_File_Share')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FileShare_FileName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_File_Share",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FilePath": {
						"type": "string"
					},
					"FromDateTime": {
						"type": "string"
					},
					"ToDateTime": {
						"type": "string"
					},
					"FileNames": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"fileName": {
						"value": "[parameters('DS_FileShare_FileName_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('DS_FileShare_FileName_properties_typeProperties_folderPath')]",
						"type": "Expression"
					},
					"modifiedDatetimeStart": {
						"value": "@dataset().FromDateTime",
						"type": "Expression"
					},
					"modifiedDatetimeEnd": {
						"value": "@dataset().ToDateTime",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_File_Share')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_FS_LZ_PL2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachFile",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select FILENAME, FILEPATH from SAP_FIles where FILENAME = substring( '@{pipeline().parameters.FILENAME}', 1, len(FILENAME))",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DS_SQL_DXC",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachFilePath",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ForEachFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ForEachFile').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyFilesFromFStoLZ",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "FileSystemSource",
											"recursive": true
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureDataLakeStoreWriteSetting"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSetting",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_FileShare_FileName",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "SAP",
													"type": "Expression"
												},
												"FromDateTime": {
													"value": "@pipeline().parameters.FromDateTime",
													"type": "Expression"
												},
												"ToDateTime": {
													"value": "@pipeline().parameters.ToDateTime",
													"type": "Expression"
												},
												"FileNames": {
													"value": "@pipeline().parameters.FILENAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_FileName",
											"type": "DatasetReference",
											"parameters": {
												"FilePath": {
													"value": "@concat('Daimler/SAP/Landing/', item().FILEPATH, '_010', '/', addhours(utcnow(), -1, 'yyyy'), '/', addhours(utcnow(), -1, 'MM'), '/', addhours(utcnow(), -1, 'dd'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.FILENAME",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"FILENAME": {
						"type": "string"
					},
					"FromDateTime": {
						"type": "string"
					},
					"ToDateTime": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SAP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_DXC')]",
				"[concat(variables('factoryId'), '/datasets/DS_FileShare_FileName')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_FileName')]"
			]
		}
	]
}